/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    background-color: #000;
    font-family: 'Josefin Sans', sans-serif;
}

#container {
    width: 375px;
    height: 80vh;
    margin: auto;
    padding: 2px 10px;
    background-color: #1ed2b5;
    color: white;
    text-align: center;
}

h1 {
    color: darkblue;
}

b {
    font-size: large;
    color: black;
}
#feet {
    width: 50%;
    height: 25px;
    border-radius: 5px;
}

#inches {
    width: 50%;
    height: 25px;
    margin-top: 30px;
    border-radius: 5px;
}

#submit {
    cursor: pointer;
    width: 50%;
    height: 35px;
    margin-top: 25px;
    border-radius: 5px;
    border-style: none;
    background-color: #ff8800;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

#submit:hover {
    background-color: blue;
    color: white;
}

#reset {
    cursor: pointer;
    width: 50%;
    height: 35px;
    margin-top: 2%;
    border-radius: 5px;
    border-style: none;
    background-color: #ff8800;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;

}

#reset:hover{
    background-color: red;
    color: white;
}

#result {
    padding-top: 5%;
    font-size: 25px;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

strong {
    color: red;
    font-size: 20px;
}

footer {
    padding-top: 25%;
    color: black;
}